
.glyphicon-ok {
    color: green !important;
}

.navbar h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 49px;
    margin-left: 100px;
    font-size: 20px;
    color: black;
    display: inline;
}

.header-title {
    color: #333;
    display: inline-block;
}

.header-btn {
    float: right;
    display: inline-block;
    margin-top: 14px;
}

.navbar a:hover {
    text-decoration: none;
}