{% extends '_base.html' %}

{% block head %}
    {{ super() }}
    <meta http-equiv="refresh" content="30">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h3 class="header-title">项目列表</h3>
        </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="col-md-1">#</th>
                <th class="col-md-2">项目名</th>
                <th class="col-md-1">tag</th>
                {#                <th class="col-md-1">当前tag</th>#}
                <th class="col-md-2">提交消息</th>
                <th class="col-md-2">上次部署</th>
                <th class="col-md-1">菜单</th>
            </tr>
            </thead>
            <tbody>
            {% for project in projects %}
                {% if project.image %}
                    <tr>
                        <th>{{ loop.index }}</th>
                        <td>{{ project.desc }}</td>
                        <td style="color: {{ 'black' if project.last_tag == project.new_tag else 'red' }}">{{ project.new_tag  | default('',true) }}</td>
                        <td>{{ project.image.git_message }}</td>
                        <td>{{ project.image.created_at | utc2local }}</td>
                        <td>
                            {% if project.image %}
                                <a href="{{ url_for('docker.deploy',image_name=project.image.image_name) }}"
                                   class="btn btn-primary btn-xs">
                                    部署
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}

            {% endfor %}

            </tbody>
        </table>
    </div>

{% endblock %}


