{% extends '_base.html' %}
{% block title %}
    环境变量
{% endblock %}

{% block content %}
    <div class="container">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-1 control-label">key-value</label>
                <div class="col-sm-2">
                    <input type="email" class="form-control" name="key" placeholder="key">
                </div>
                <div class="col-sm-7">
                    <input type="email" class="form-control" name="value" placeholder="value">
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block scripts %}

    {{ super() }}

{% endblock %}