{% extends '_base.html' %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h3>部署记录</h3>
        </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="col-md-1">#</th>
                <th class="col-md-1">项目</th>
                <th class="col-md-1">名称</th>
                <th class="col-md-1">image_tag</th>
                <th class="col-md-3">remark</th>
                <th class="col-md-1">环境</th>
                <th class="col-md-1">状态</th>
                <th class="col-md-1">发起人</th>
                <th class="col-md-1">部署时间</th>
            </tr>
            </thead>
            <tbody>
            {% for deploy in deploys %}
                <tr>
                    <th>{{ deploy.id }}</th>
                    <td>{{ deploy.desc }}</td>
                    <td>{{ deploy.image_name }}</td>
                    <td>{{ deploy.image_tag }}</td>
                    <td>{{ deploy.remark }}</td>
                    <td>{{ '开发' if deploy.type == 'dev' else '生产' }}</td>
                    <td>{{ deploy.pro if deploy.type == 'pro' else deploy.dev }}</td>
                    <td>{{ deploy.nickname }}</td>
                    <td>{{ deploy.updated_at | utc2local }}</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div style="float: right;margin-bottom: 50px">
            {{ pagination.links }}
        </div>
    </div>

{% endblock %}
