{% extends "bootstrap/base.html" %}

{% block title %}南京海维{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/github.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <a class="home" href="{{ url_for('build.index') }}"><h3>南京海维</h3></a>
    </nav>
{% endblock %}

{% block content %}


{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static',filename='js/highlight.pack.js') }}"></script>
    <script src="{{ url_for('static',filename='js/clipboard.min.js') }}"></script>
{%- endblock scripts %}

