<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <title>{% block title %}南京海维{% endblock %}</title>
        {% block styles %}
            <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ url_for('static',filename='css/github.css') }}">
            <link rel="stylesheet" href="{{ url_for('static',filename='css/spop.min.css') }}">
            <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
        {% endblock %}
    {% endblock %}
</head>
<body>
{% block body %}
    {% block navbar %}
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" style="color: #333;margin-left: 150px"
                       href="{{ url_for('docker.index') }}">南京海维</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" style="margin-left: 100px">
                        <li><a href="{{ url_for('docker.index') }}"
                               style="color: #333;font-size: 16px">首页</a></li>
                        <li><a href="{{ url_for('docker.images') }}"
                               style="color: #333;font-size: 16px">镜像</a></li>
                        <li><a href="{{ url_for('docker.deploy_history') }}"
                               style="color: #333;font-size: 16px">历史</a></li>

                        {% if current_user.is_admin %}
                            <li><a href="{{ url_for('users.index') }}"
                                   style="color: #333;font-size: 16px">成员</a></li>
                        {% endif %}

                        <li><a href="{{ url_for('users.logout') }}"
                               style="color: #333;font-size: 16px">登出</a></li>

                    </ul>
                </div>
            </div>
        </nav>
    {% endblock %}

    {% block content %}

    {% endblock %}

{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/highlight.pack.js') }}"></script>
    <script src="{{ url_for('static',filename='js/clipboard.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/spop.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/custom.js') }}"></script>

    <script>
        {% for msg in get_flashed_messages() %}
            spop({
                template: '{{ msg }}',// string required. Without it nothing happens!
                style: 'default',// success, warning or error
                autoclose: true,// miliseconds
                position: 'top-right'// top-left top-center bottom-left bottom-center bottom-right
            });
        {% endfor %}

    </script>
{% endblock %}


</body>
</html>